<h2>Questions</h2>
<br>
<div class="box space">
    <% @sorted_questions.each do |question| %>
        <ul class="question-item">
          <div class="question_title">
            <li class="question-category">Answers: <%= question.answers.count  %></li>
            <li class="question-category">Score: <%= question.score %></li>
            <li class="question-category">Question: <%= link_to(question.title, question) %></li>
          </div>
          <div>
            <li class="question-category">Asked By: <%= link_to(question.user.username,question.user) %> </li>
            <li class="question-category"><%= Time.at(question.created_at).to_time.strftime('%v %r') %></li>
          </div>
        </ul>
    <% end %>
</div>
