<div class="header">
  <h1><%= @question.title %></h1>
  <%= render partial:'comments/new.html.erb', locals:{post_type:"question", post:@question} %>
</div>
  <ul class=comments_list>
    <h4>Comments</h4>
    <% @question.comments.each do |comment| %>
      <li><%= comment.body %></li>
    <% end %>
  </ul>

<div class="content">
  <div class="votes">
  </div>

</div>


<h2>There are <%= @question.answers.count %> answers</h2>
  <ul>
    <% @question.answers.each do |answer| %>
      <li> <%= answer.body %>
        <ul>
          <% answer.comments.each do |comment| %>
            <li><%= comment.body %></li>
          <% end %>
        </ul>
        <%= render partial:'comments/new.html.erb', locals:{post_type:"answer", post:answer} %>
      </li>
    <% end %>
  </ul>

  <%= render 'answers/new.html.erb' %>
</div>
