<div class= "<%= post_type %>-<%= post.id %>-comments">
  <ol class="<%= post_type %>-comments-list-<%= post.id %>">
    <button class="expand-comments-list">Show comments</button>
    <div class="comments-list">
      <% post.comments.each do |comment| %>
        <%= render partial:'comments/show.html.erb', locals:{comment:comment} %>
      <% end %>
    </div>
  </ol>
  <% if session[:user_id] %>
    <button class="comment-button">Comment</button>
    <div class="comment-form">
      <%= render partial:'comments/new.html.erb', locals:{post_type:post_type, post:post} %>
    </div>
  <% end %>
</div>