<div class = "edit_form" style="display:none;">

  <% provide(:title, 'Edit User Info') %>
  <h1>Edit User Info</h1>

  <%= form_for(@user,  method: :put, remote: true) do |f| %>
     <%= render 'shared/error_messages' %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit "Update my account", class: "btn btn-large btn-primary update" %>
  <% end %>

</div>


<script type="text/javascript" charset="utf-8">
  $("input[type='submit']").on('click', function(e) {
    var formData = $(this).parents("form").serialize();
    $.post('/users/<%=@user.id%>.json', formData, function(jsonResponse) {
      $('.edit_form').css({
      'display': 'none'});
      $(".current_user h1").text(jsonResponse.name);
      $(".current_user h3").text(jsonResponse.email);
    });
    e.preventDefault();
  });
</script>