<% provide(:title, 'Edit User Info') %>
<h1>Edit User Info</h1>

<%= form_for(@user) do |f| %>
   <%= render 'shared/error_messages' %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Update my account", class: "btn btn-large btn-primary" %>
<% end %>