<% provide(:title, @user.name) %>

<div class = "current_user">
    <%= gravatar_for @user %>

  <h1>
    <%= @user.name %>
  </h1>
  <h3>
  <%= @user.username %>
  </h3>
  <h3>
    <%= @user.email %>
  </h3>
  <% if session[:user_id] == @user.id %>
    <%= link_to 'Edit My Profile', edit_user_path(@user.id), :class => "edit" %>
  <% end %>
</div>
<hr>
<%= render 'edit' %>


<div class = "user_questions_outer">
  <div class = "user_questions_inner">
    <ul>
    <% @user.questions.each do |q| %>
      <li>
        <h2>
          <%=
          link_to(q.title, {controller: "questions", action: "show", id: q.id })
          %>
        </h2>
      </li>
      <li><%= q.body %></li>
    <% end %>
    </ul>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $('a.edit').on('click', function(e) {
    e.preventDefault();
    $('.edit_form').css({
      'display': 'block'});
  })
</script>


