<h1>Welcome to Snack Overflow</h1>

<%= form_tag("/questions/search", method:"get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<div class='search-bar'>
  <%= link_to "Ask a Question", new_question_path %>
  <%= link_to "Browse Questions", questions_path %>
  <%= link_to "Browse Users", users_path %>
</div>

<h3>Top Questions </h3>
<div class="top-questions">
  <% Question.top.each do |question| %>
    <ul class="question-item">
      <div class="question_title">
        <li class="question-category">Answers: <%= question.answers.count  %></li>
        <li class="question-category">Score: <%= question.score %></li>
        <li class="question-category">Question: <%= link_to(question.title, question) %></li>
      </div>
      <div>
        <li class="question-category">Asked By: <%= link_to(question.user.username,question.user) %> </li>
        <li class="question-category"><%= Time.at(question.created_at).to_time.strftime('%v %r') %></li>
      </div>
    </ul>
  <% end %>
</div>

